
body{
    margin: 0;
    padding: 0;
    background: grey;
}

#home-name{
    top: 0; bottom: 0;
    text-align: center;
    position: relative;
    margin: auto;
    
}

#home-fn{
    font-size: 10vh;
}

#home-nm{
    margin: auto;
    
}

#home-tag{
    font-size: 5vh;
}

#home-content{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

#gallery-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.gallery-card{
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    min-height: 50vh;
    text-align: center;
    height: 70vh;
}

.gallery-card-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gallery-card img{
    width: 100%;
}

.gallery-card-img{
    height: 20vh;
}

.gallery-card p{
    text-align: justify;
    
}

.gallery-card-des{
    background: white;
    min-height: 30vh;
    padding: 5px;
    
}

.gallery-card-btns{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.gallery-card-btns a{
    margin: auto;
}

a:link {
    text-decoration: none;
}

i {
    padding: 10px;
    color: #000;
    transition: color .3s;
    font-size: 10vw;
}

i:hover {
    color: rgb(199, 199, 199);
    transition: color .3s;
}

#home-content img{
    width: 25%;
    height: 25%;
    margin: 0;
}

#about-content{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
    margin-top: 10%;
}

#about-content img{
    width: 30vh;
    height: 30vh;
    border-radius: 200px;
    margin: 10px;
}

#about-div-img{
    margin: auto;
}

#about-des{
    width: 75%;
    padding: 10px;
    margin: auto;
    background: #90A4AE;
}

@media screen and (max-width: 1025px){
    #home-content{
        flex-direction: column;
    }

    #home-content img{
        margin: auto;
    }
}

@media screen and (max-width: 900px){
    #about-content{
        flex-direction: column;
    }
    #about-des{
        width: 100%;
    }
    #gallery-content{
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
    }
}    